@import url('../../../common/index.less');

.@{prefix}-link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  flex-direction: row;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
}

.@{prefix}-link--primary {
  color: #409eff;
}

.@{prefix}-link--primary:hover {
  color: #66b1ff;
}

.@{prefix}-link.is-disabled {
  cursor: not-allowed;
}

.@{prefix}-link.is-disabled:hover {
  cursor: not-allowed;
  color: #a0cfff;
}

.@{prefix}-link--primary.is-disabled {
  color: #a0cfff;
}

.@{prefix}-link.is-underline:hover::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  content: '';
  border-bottom: 1px solid #409eff;
}
